<div ui-view style="height:100%">

<div class="row" style="padding: 10px;">
<div class="col-sm-4">

<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Workspaces</div>

<div class="list-group">
  <a ng-repeat="ws in workspaces" class="list-group-item" ui-sref="invest.ws({workspaceId: ws.id})">{{ ws.name }}</a>
</div>
</div>
</div>

</div>

</div>