<div class="col-sm-2" style="overflow: auto;height:100%">
      	<h3>Workspace</h3>

      	<div inv-tree tree-data="treedata" dbl-click="itemDblClick(item)" ></div>
      	</div>
      	<div class="col-sm-10" style="height:100%">
      	
      	<tabset>
    <tab heading="Welcome">
		<p style="padding-top:10px">Please select an item to open from the left hand side</p>
				
		<p>Alternatively, initiate a search from here:</p>
		
		<p>
		<form class="form-horizontal well" role="form">
			  <div class="form-group">
			    <label for="inputSource" class="col-sm-2 control-label">Search source</label>
			    <div class="col-sm-3">
			      <select class="form-control" id="inputSource">
			      	<option>Probe HTTP</option>
			      	<option>SMTP</option>
			      </select>
			    </div>
			  </div>
			   
			  
			  <div class="form-group">
			    <label for="inputType" class="col-sm-2 control-label">Field</label>
			    <div class="col-sm-3">
			      <select class="form-control" id="inputType">
			      	<option>IP Address</option>
			      	<option>Hostname</option>
			      </select>
			    </div>
			  </div>
			  
			  <div class="form-group">
			    <label for="inputEntity" class="col-sm-2 control-label">Value</label>
			    <div class="col-sm-3">
			      <input type="email" class="form-control" id="inputEntity" placeholder="">
			    </div>
			  </div>
			  
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-3">
			      <button type="submit" class="btn btn-default">Search</button>
			    </div>
			  </div>
			</form>
		</p>
	</tab>
    <tab ng-repeat="tab in tabs"  active="tab.active" disabled="tab.disabled">
    	<tab-heading>{{tab.title}} <a ng-click="removeTab($index)">&times;</a></tab-heading>
    
    <span ng-if="tab.type == 'graph'">
    
    <inv-graph></inv-graph>
    </span>
    <span ng-if="tab.type == 'dataset'">

    <inv-table selection="tableSelection(entities)" dataset="tab.dataset" workspace="{{workspaceId}}" style="padding-top:10px"></inv-table>
    
    
    
   
    </span>
    </tab>
    </tabset>
      	
      	<div id="context-menu">
  <ul class="dropdown-menu" role="menu">
    <li><a tabindex="-1" href="#">Action</a></li>
	...
    <li><a tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div>
      

		</div>
		
		
		