
<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>CyberReveal Investigator</title>

    <!-- Bootstrap core CSS -->
    <link href="lib/css/bootstrap/bootstrap.css" rel="stylesheet">

    <link href="lib/css/yfiles.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar.css" rel="stylesheet">
   <link href="lib/css/jstree/style.css" rel="stylesheet">
   <link href="lib/css/datatables/dataTables.bootstrap.css" rel="stylesheet">
  <!--  <link href="lib/css/datatables/dataTables.tableTools.css" rel="stylesheet"> -->
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
    
    html, body {
        height: 100%;
        width: 100%;
        
}

.popover-title {
	color: black;
}

.popover-content {
	color: black;
}

.tab-content {
top: 50px;
bottom: 0px;
position: absolute;
right: 20px;
left: 0px;
}

.tab-pane {
	height: 100%;
}

.fill {
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: auto;
    height: auto;
}

.navbar {
        margin-bottom: 0;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}
    
    
    </style>
  </head>

  <body ng-controller="MainCtrl">



      <!-- Static navbar -->
      <div class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="start">CyberReveal</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li ui-sref-active="active"><a ui-sref="triage">Triage</a></li>
              <li ui-sref-active="active"><a ui-sref="invest">Investigation</a></li>
              <li ui-sref-active="active"><a ui-sref="ti">Threat Intel</a></li>
            </ul>
            
            
                      <!-- Notification dropdown button -->
			<div class="btn-group navbar-right">
			  <button type="button" class="btn btn-default dropdown-toggle navbar-btn navbar-right" ng-disabled="notifications.length==0" data-toggle="dropdown">
			    Notifications <span class="badge">{{notifications.length}}</span> <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			    <li ng-repeat = "n in notifications"><a ng-click="activateNotification($index)">{{ n.message }}</a></li>
			  </ul>
			</div>
            <!-- 
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">Default</a></li>
              <li><a href="../navbar-static-top/">Static top</a></li>
              <li><a href="../navbar-fixed-top/">Fixed top</a></li>
            </ul> -->
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>
          <div class="container-fluid fill" >
      <div class="row" style="height:100%">
      	
		<div ui-view style="height:100%"></div>
      </div>



    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="lib/js/jquery/jquery.js"></script>
    <script src="lib/js/jstree/jstree.js"></script>
    <script src="lib/js/bootstrap/bootstrap.js"></script>
    <script src="lib/js/angular/angular.js"></script>
            <script src="lib/js/lodash/lodash.compat.js"></script>
    <script src="lib/js/restangular/restangular.js"></script>
        <script src="lib/js/datatables/jquery.dataTables.js"></script>
        <script src="lib/js/datatables/dataTables.tableTools.js"></script>
        <script src="lib/js/datatables/dataTables.bootstrap.js"></script>
    <script src="lib/js/angular-ui-router/angular-ui-router.js"></script>
    <script src="lib/js/bootstrap-contextmenu/bootstrap-contextmenu.js"></script>
    
    
    <script src="lib/js/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    
      <script src="lib/yfiles/es5-shim.js"></script>  
  <script src="demo-framework/require.js"></script>  
  <script src="javascripts/services.js"></script>
    
     <script src="javascripts/app/investigator.js"></script>
        <script src="javascripts/app/directives/tree.js"></script>
        <script src="javascripts/app/directives/table.js"></script>
        <script src="javascripts/app/directives/entity.js"></script>
        <script src="javascripts/app/directives/graph.js"></script>
        <script src="javascripts/app/controllers/workspace.js"></script>
        <script src="javascripts/app/controllers/investigate.js"></script>
        <script src="javascripts/app/controllers/triage.js"></script>
        <script src="javascripts/app/controllers/main.js"></script>
        <script src="javascripts/app/services/workspace.js"></script>
        <script src="javascripts/app/services/projection.js"></script>
        <script src="javascripts/app/services/notification.js"></script>
        <script src="javascripts/app/services/enrichment.js"></script>
    
  <script>  
    require.baseUrl = 'lib/';  
    // load the license (required) and, exemplary, the 'complete' module  
    require([  
      'license.js',  
      'yfiles/complete'  
    ], function () {  });
    </script>
    
    
       
    <script>
   
    </script>
  </body>
</html>
